/* Estiliza o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto como Arial, com sans-serif como fallback */
    background-image: url('tecnologia-blockchain-scaled-1.jpeg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área do background */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    margin: 0; /* Remove a margem padrão do corpo da página */
    padding: 20px; /* Adiciona um espaçamento interno de 20px ao redor do conteúdo */
}

/* Estilo para o logo */
.logo {
    font-size: 2.5em; /* Define o tamanho da fonte como 2.5 vezes o tamanho da fonte padrão */
    font-weight: bold; /* Define o peso da fonte como negrito */
    color: #333; /* Define a cor do texto como um cinza escuro */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 10px; /* Adiciona um espaçamento inferior de 10px */
    font-family: 'Verdana', sans-serif; /* Define a fonte do texto como Verdana, com sans-serif como fallback */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    height: 65px; /* Define a altura fixa do logo */
    letter-spacing: 1px; /* Adiciona espaçamento de 2px entre as letras */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao texto com deslocamento de 0px horizontal e 1px vertical, com 2px de borrão e cor preta com 20% de opacidade */
}

/* Estilo para a parte destacada do logo */
.logo .highlight {
    color: #007bff; /* Define a cor do texto como azul */
    background-color: rgba(0, 123, 255, 0.1); /* Define a cor de fundo como azul claro com 10% de opacidade */
    padding: 1px 3px; /* Adiciona um espaçamento interno de 1px vertical e 3px horizontal */
    border-radius: 12px; /* Define as bordas arredondadas com raio de 12px */
    box-shadow: 0px 2px 4px rgba(0, 123, 255, 0.2); /* Adiciona uma sombra ao redor do elemento com deslocamento de 0px horizontal e 2px vertical, com 4px de borrão e cor azul com 20% de opacidade */
}

/* Estilo para todos os elementos div */
div {
    background-color: #e8e3e3; /* Define a cor de fundo das divs como branca */
    padding: 0 10px; /* Adiciona um espaçamento interno de 10px nas laterais */
    max-width: 600px; /* Define a largura máxima das divs como 600px */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior de 20px */
    border-radius: 8px; /* Define as bordas arredondadas com raio de 8px */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do elemento com deslocamento de 0px horizontal e 2px vertical, com 4px de borrão e cor preta com 10% de opacidade */
    text-align: center; /* Centraliza o texto dentro do div */
    margin: 0 auto; /* Centraliza o div horizontalmente */
}

/* Estilo para os cabeçalhos h2 */
h2 {
    color: #555; /* Define a cor do texto como cinza médio */
}

/* Estilo para os campos de entrada */
input {
    width: calc(50% - 22px); /* Define a largura como 50% do contêiner pai, menos 22px para ajustar o padding e a borda */
    padding: 4px; /* Adiciona um espaçamento interno de 4px */
    margin: 10px 0; /* Adiciona um espaçamento vertical de 10px */
    border: 1px solid #ccc; /* Define uma borda de 1px com cor cinza claro */
    border-radius: 4px; /* Define as bordas arredondadas com raio de 4px */
}

/* Estilo para os botões */
button {
    width: 100%; /* Define a largura do botão como 100% do contêiner pai */
    padding: 2px; /* Adiciona um espaçamento interno de 2px */
    max-width: 100px; /* Define a largura máxima do botão como 100px */
    background-color: #007bff; /* Define a cor de fundo como azul */
    color: white; /* Define a cor do texto como branco */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 4px; /* Define as bordas arredondadas com raio de 4px */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
}

/* Estilo para o botão ao passar o mouse sobre ele */
button:hover {
    background-color: #0056b3; /* Muda a cor de fundo para um azul mais escuro ao passar o mouse sobre o botão */
}
